

body{
	font-family: 'biro_script_reducedregular';
}

@font-face {
    font-family: 'biro_script_reducedregular';
    src: url('biro_script_reduced-webfont.woff2') format('woff2'),
         url('biro_script_reduced-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
